* {
    box-sizing: border-box;
}

header {
    background-color: darksalmon;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

header * {
    display: inline;
}

body {
    margin-top: 80px;
    padding: 30px;
}

header li {
    color: lavender;
    margin: 20px;
    font-size: x-large;
}

.name {
    font-size: xx-large;
}

header li a {
    color: lavender;
    text-decoration: none;
    padding: 30px;
}

li a:hover {
    background-color: rgb(235, 165, 165);
}

h1 {
    text-align: center;
    color: #718355;

}

h2 {
    text-align: center;
    color: #718355;
}

h3 {
    color: #718355;
}

.project-outer {
    border: 3px;

}

.project-inner {
    transition-duration: 500ms;
    display: flex;
    flex-direction: column;
    /* flex: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 60%;
    background-color:rgb(241, 227, 220);
    padding: 10px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
}

.project-inner:hover {
    transition-timing-function: ease;
    background: rgb(241, 192, 167);
}



.hobby-img {
    flex-basis: 40%;
}

.personal-page {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.home-img {
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}



.personal-summary {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #3a432c;
    font-size: large;
    transition-duration: 500ms;
}

.personal-summary:hover {
    transition-timing-function: ease;
    color: #6d8646;
}

.hobby-header {
    text-align: center;
}

.hobby-paragraph {
    font-size: large;
    width: 49%;
}

.hobby-img {
    margin-left: 10%;
    /* max-width: 100%; */


}

.portfolio-img {
    width: 250px;
    margin-left: 15%;
}

.project-description {
    width: 49%;
    font-size: large;
    margin-left: 15px;
    padding: 20px;

}

/* Contact Form w Animation */

.form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin: 1em 0;
    padding: 2em 2em;
    border-radius: 6px;
    background-color:rgba(159, 173, 136, .7);
    box-shadow: 0 30px 60px 0 rgba(113, 123, 97, 0.7);
    animation: bounce 1.5s infinite;
}


.form-title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.fullname {
    height: 2em;
    width: 80%;

}

.fullname:hover {
    border-bottom: 5px solid #7a8569;
    transition: ease 0.5s;
    transform: scale(1.1);

}

.email {
    height: 2em;
    width: 80%;
}

.email:hover {
    border-bottom: 5px solid #7a8569;
    transition: ease 0.5s;
    transform: scale(1.1);
}

.message {
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.message:hover {
    border-bottom: 5px solid #7a8569;
    transition: ease 0.5s;
    transform: scale(1.1);
}

label {
    display: block;
    margin-top: 1em;
}

input {
    padding: .5em;
    border: solid 1px #9fad88;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}

textarea {
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border: solid 1px #9fad88;
}

input[type=submit] {
    border-radius: 6px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    width: 10rem;
}

input[type=submit]:hover {
    border-bottom: 5px solid #7a8569;
    transition: ease 0.5s;
    transform: scale(1.1);
}

input[type=submit]:active {
    background-color: rgba(159, 173, 136, .7);
    color: rgb(130, 72, 66);
    cursor: pointer;

}

@keyframes bounce {
    0% {
        transform: translate (0, 4px);
    }
    50% {
        transform: translate(0, 8px);
    }
}

/* Desktop: 1680 x 1050
iPad: 1024 x 768
Mobile: 480 x 320 */

@media (max-width: 1680px) {



    .form {
        width: 40%;
        margin: auto;
    }

}

@media (max-width: 1024px) {
    .form {
        width: 60%;
        margin: auto;
    }


}

@media (max-width: 480px) {

    .form {
        min-width: 320px;
        margin: auto;
    }

    header {
        display: inline;
    }
}
