* {
    box-sizing: border-box;
}

header {
    background-color: darksalmon;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

header * {
    display: inline;
}

body {
    margin-top: 80px;
    padding: 30px;
}

header li {
    color: lavender;
    margin: 20px;
    font-size: x-large;
}

.name {
    font-size: xx-large;
}

header li a {
    color: lavender;
    text-decoration: none;
    padding: 30px;
}

li a:hover {
    background-color: rgb(235, 165, 165);
}

h1 {
    text-align: center;
    color: #718355;

}

h2 {
    text-align: center;
    color: #718355;
}

h3 {
    color: #718355;
}

.project-outer {
    border: 3px;

}

.project-inner {
    transition-duration: 500ms;
    display: flex;
    flex-direction: column;
    /* flex: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 60%;
    background-color:rgb(241, 227, 220);
    padding: 10px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
}

.project-inner:hover {
    transition-timing-function: ease;
    background: rgb(241, 192, 167);
}



.hobby-img {
    flex-basis: 40%;
}

.personal-page {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.home-img {
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}



.personal-summary {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #3a432c;
    font-size: large;
    transition-duration: 500ms;
}

.personal-summary:hover {
    transition-timing-function: ease;
    color: #6d8646;
}

.hobby-header {
    text-align: center;
}

.hobby-paragraph {
    font-size: large;
    width: 49%;
}

.hobby-img {
    margin-left: 10%;
    max-width: 100%;


}

.portfolio-img {
    width: 250px;
    margin-left: 15%;
}

.project-description {
    width: 49%;
    font-size: large;
    margin-left: 15px;
    padding: 20px;

}



.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 75%;
}

input[type=submit] {
    width: 50%;
}

input[type=submit]:active {
    background-color: #9fad88;
    color: salmon;
    cursor: pointer;

}

/* Desktop: 1680 x 1050
iPad: 1024 x 768
Mobile: 480 x 320 */

@media (max-width: 1680) {


}

@media (max-width: 1024) {



}

@media (max-width: 480) {

}
