header {
    background-color: darksalmon;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

header * {
    display: inline;
}

body {
    margin-top: 80px;
    padding: 30px;
}

header li {
    color: lavender;
    margin: 20px;
    font-size: x-large;
}

.name {
    font-size: xx-large;
}

header li a {
    color: lavender;
    text-decoration: none;
    padding: 30px;
}

li a:hover {
    background-color: rgb(235, 165, 165);
}

h1 {
    text-align: center;
    color: #718355;

}

h2 {
    text-align: center;
    color: #718355;
}

h3 {
    color: #718355;
}

.project-outer {
    border: 3px;

}

.project-inner {
    display: block;
    width: 70%;
    background-color:rgb(237, 211, 203);
    padding: 10px;
    margin: 5px;
    margin-right: auto;
    margin-left: auto;
}


.home-img {
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

p {
    width: 50%;
}

.personal-summary {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: #3a432c;
    font-size: large;

}

.hobby-header {
    text-align: center;
}

.hobby-paragraph {
    display: inline-block;
}

.portfolio-img {
    width: 250px;
    display: inline-block;
    overflow: clip;
}
